<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bookReviewsApp/css/style.css' %}">
    <title>User Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-right">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'wishList:logout' %}">{{log}}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <h2>Welcome, {{user_name}}!</h2>
        <div class="row">
            <div class="col-md-12">
                <h4>Your Wish List</h4>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Created by</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                    {% for wish in wishList %}
                        
                        <tr>
                            <td><a href="{% url 'wishList:itemDetails' wish.item.id %}">{{wish.item.name}}</a></td>
                            <td>{{wish.item.creator.name}}</td>
                            <td>{{wish.item.date_created}}</td>
                            {% if user_name == wish.item.creator.name %}
                                <td><a href="{% url 'wishList:removeItem' wish.item.id %}">Delete</a></td>
                            {% else %}
                                <td><a href="{% url 'wishList:removeFromList' wish.item.id %}">Remove from my wishlist</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <h4>Other users Wish List</h4>
                <table>
                        <tr>
                            <th>Item</th>
                            <th>Created by</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </tr>
                        {% for other in others %}
                            <tr>
                                <td><a href="{% url 'wishList:itemDetails' other.id %}">{{other.name}}</a></td>
                                <td>{{other.creator.name}}</td>
                                <td>{{other.date_created}}</td>
                                <td><a href="{% url 'wishList:addToWishList' other.id %}">Add to my wishlist</a></td>
                                
                            </tr>
                        {% endfor %}
                    </table>
               <div>
                   <a href="{% url 'wishList:createWishList' %}">Add Item</a>
               </div>
            </div>
        </div>
    </div>
</body>  
</html>  